body {
    font-family: "Lato", sans-serif;
  }

  p {
    font-family: "Lato", sans-serif;
  }

  table {
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .alert {
    padding: 15px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
  }

  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .active,
  .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

  .itemNum {
    float: right;
  }

  .notification {
    display: none;
    background-color: #f24e6c;
    color: #444;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .feedback-popup {
    display: none;
    position: fixed;
    bottom: 100;
    left: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  .settings-popup {
    display: none;
    position: fixed;
    bottom: 100;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }