<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name = "init_data" change_ids = "{{change_ids|escape}}", cdropdown_ids ="{{ cdropdown_ids|escape }}", sdropdown_ids = "{{ sdropdown_ids|escape }}">
  <link rel="stylesheet" href = "{{ url_for('static', filename='styles/accordionstylesheet.css' )}}">
</head>

<body>

  <h2>Review Address Placement</h2>
  We have applied a general algorithm to sort some of the remaining addresses.<br>
  Some addresses may be improperly placed due to conversion difficulties<br>
  Please review these placements before moving to the last step<br>

  <input type="button" id="export" value="Export Settings" style="float: right;" onclick="exportSettings('settings.txt')">

  {% for ccode in aff_country_codes%}
  <button class="accordion">{{ccode}}</button>
  <div class="panel">
    {% for scode in aff_state_codes[ccode] %}
    <button class="accordion">{{scode}}</button>
    <div class="panel">
      <table>
        <tr>
          <th>Address</th>
          <th>Confidence</th>
          <th>Approved<input type="checkbox" id=checkall name="approve" value="approved"
              input type="checkbox" id='approveall{{scode}}{{ccode}}' class="approveall" onclick="selectAll('{{scode}}{{ccode}}')" onchange="enableButton(); displayNotif()"></th>
          <th>Custom</th>
        </tr>
      </table>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

  <input type="text" name="search">
  <input type="submit" value="Search"> <br><br>

  <button onclick="redirect('statistics')">Next page</button>

</body>
<script type="text/javascript" src="/static/javascript/approval.js"></script>
</html>