<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href = "{{ url_for('static', filename='styles/accordionstylesheet.css' )}}">
</head>

<body>

  <h2>Approve Country Entries</h2>
  Our system has identified these free-text country spellings in your database.<br>
  Confirm that they have been converted to the correct ISO Alpha-2 code before moving forward, or customize their
  mapping using the dropdowns.
  <br><br>

  <div class="notification">Items still pending approval</div>

  <input type="button" value="Export Settings" style="float: right;">

  <br>

  {% for ccode in aff_country_codes %}
  <button id="tab{{ccode}}" class="accordion">{{ccode}}<span id="itemNum{{ccode}}" class="itemNum"></span></button>
  <div class="panel">
    <table id='{{ccode}}' class="country">
      <tr>
        <th>Country Field</th>
        <th>Occurences</th>
        <th>Alpha2 Confidence</th>
        <th>Approved<input type="checkbox" id='approveall{{ccode}}' class="approveall" onclick="selectAll('{{ccode}}')" onchange="enableButton(); displayNotif()"></th>
        <th>Custom</th>
      </tr>
      <!--Populate table based on database-->
      {% for change_id in change_ids if change_id[2] == ccode %}
      <tr>
        <td><!--String variable here--> {{change_id[1]}}</td>
        <td><!--Occurence variable here--> {{change_id[3]}}</td>
        <td><!--Confidence variable here--> {{change_id[4]}}</td>
        <td><!--Custom Dropdown here-->
          <form action="" method="get">
            <input type="checkbox" name='check{{ccode}}' onchange="checkApproved(); enableButton(); displayNotif()" {% if change_id[4] >= conf_threshold %} 
            checked {%endif%}>
          </form>
        </td>
        <td><!--Populate the dropdown based on standardized country-->
          <form action="" method="get">
            <select name="states" id="states">
              <option disabled value> -- select an country -- </option>
              {% for drop_id in dropdown_ids %}
              <option value={{ drop_id }}
                {% if drop_id == ccode %} selected {% endif %}>{{drop_id}}</option>
              {% endfor %}
            </select>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}

  <input type="text" name="search">
  <input type="submit" value="Search"> <br><br>

  <div class="notification">Items still pending approval</div>

  <button id="nextPage" onclick="redirect('state_approve')" disabled>Next page</button>

</body>
<script type="text/javascript" src="/static/javascript/approval.js"></script>
</html>