<!DOCTYPE html>
<html>
<body>
<style>
</style>

<h1>Your data is ready for picklist conversion!</h1>

<p>Click confirm to implement your stated and approved conversions into the database<br>
  WARNING: THESE CHANGES WILL PERMANENTLY AFFECT YOUR DATABASE<br>
  Please confirm that all approved conversions are correct, or export your settings to save them locally.
</p>

<a href="https://www.salesforce.com" target="_blank">
  <button>Review Database</button>
</a> 

<br>

<script>
</script>

</body>
</html>