<!DOCTYPE html>
<html>
<body>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href = "{{ url_for('static', filename='styles/accordionstylesheet.css' )}}">
</head>

<h1>Your data is ready for picklist conversion!</h1>

<p>Click confirm to implement your stated and approved conversions into the database<br>
  WARNING: THESE CHANGES WILL PERMANENTLY AFFECT YOUR DATABASE<br>
  Please confirm that all approved conversions are correct, or export your settings to save them locally.
</p>

<a href="https://www.salesforce.com" target="_blank">
  <button>Review Database</button>
</a> 

<br><br>

<button type="button" onclick="openForm('feedback')">Send Feedback</button>
<div id="feedback" class="feedback">
  <form>
    <textarea id="feedbackText" rows="10" cols="40" placeholder="Enter feedback here..."></textarea>
    <button type="button" onclick="closeForm('feedback')">Close</button>
  </form>
</div>
<br>

<script>
</script>

</body>
</html>