<!DOCTYPE html>
<html>
<body>
<style>
</style>

<h1>Statistics</h1>
<table>
  <tr>
    <th>Metric</th>
    <th>Value</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Avg. Country Confidence</td>
    <td>{{stats[0]}}</td>
    <td>Average confidence of the addresses successfully converted to a country code.</td>
  </tr>
  <tr>
    <td>Avg. State Confidence</td>
    <td>{{stats[1]}}</td>
    <td>Average confidence of the addresses successfully converted to a country code.</td>
  </tr>
  <tr>
    <td>Max Confidence Percentage</td>
    <td>{{stats[2]}}</td>
    <td>Percentage of addresses that were converted with maximum confidence.</td>
  </tr>
  <tr>
    <td>Fully Converted Percentage</td>
    <td>{{stats[3]}}</td>
    <td>Percentage of addresses that were converted with both Country and State codes.</td>
  </tr>
</table>
<button onclick="redirect()">Next page</button>
<script>
    function redirect() {
      window.location.href = "{{url_for('end')}}"
    }
</script>

</body>
</html>
