<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name = "init_data" change_ids = "{{change_ids|escape}}", cdropdown_ids ="{{ cdropdown_ids|escape }}", sdropdown_ids = "{{ sdropdown_ids|escape }}">
  <link rel="stylesheet" href = "{{ url_for('static', filename='styles/accordionstylesheet.css' )}}">
</head>

<body>

  <h2>Approve State Entries</h2>
  Our system has identified these free-text state spellings in your database.<br>
  Confirm that they have been converted to the correct ISO Alpha-2 code before moving forward, or customize their
  mapping using the dropdowns.
  <br><br>

  <div class="notification">Items still pending approval</div>

  <input type="button" id="export" value="Export Settings" style="float: right;" onclick="exportSettings('settings.txt')">

  <br>

  {% for ccode in aff_country_codes%}
  <button id="tab{{ccode}}" class="accordion">{{ccode}}</button>
  <div id="panel{{ccode}}" class="panel">
    {% for scode in aff_state_codes[ccode] %}
    <button id="tab{{scode}}{{ccode}}" class="accordion">{{scode}}<span id="itemNum{{scode}}{{ccode}}" class="itemNum"></span></button>
    <div id = "panel{{scode}}{{ccode}}" class="panel">
      <table id="{{scode}}{{ccode}}" class="state">
        <tr>
          <th>State Field</th>
          <th>Occurences</th>
          <th>Alpha2 Confidence</th>
          <th>Approved<input type="checkbox" id='approveall{{scode}}{{ccode}}' class="approveall" onclick="selectAll('{{scode}}{{ccode}}')" onchange="enableButton(); displayNotif()"></th>
          <th>Custom</th>
        </tr>
      </table>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

  <div class="notification">Items still pending approval</div>

  <button id="nextPage" onclick="redirect('address_approve')" disabled>Next page</button>
  <button id="nextPageAdmin" onclick="redirect('address_approve')">Next page Admin</button>

  <br><br>
  
  Search for sets of addresses to assist in the approval process.<br>
  Spaces are considered not empty and the search is case sensitive.
  Double click on a field above to auto-populate the search bar<br>
  {% for message in get_flashed_messages() %}
  <div class="notification">{{ message }}</div>
  {% endfor %}
  <form action="{{ url_for('state_approve') }}" method="post">
    <input type="text" placeholder="Address" name="addsearch" id="addsearch">
    <input type="text" placeholder="State" name="statesearch" id="statesearch">
    <input type="text" placeholder="Country" name="countrysearch" id="countrysearch">
    <input type="submit" value="Search">
  </form>
  {% if search_response %}
  <br>
  <div class="searchTable">
    <table id="search_results_table">
      <tr>
        <th>Address</th>
        <th>State</th>
        <th>Country</th>
      </tr>
      {% for case in search_response %}
        <tr>
          <td>{{case[1]}}</td>
          <td>{{case[2]}}</td>
          <td>{{case[3]}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
</body>
<script type="text/javascript" src="/static/javascript/approval.js"></script>
</html>